# Copy this file to a private local file and fill values:
#   cp scripts/deployment/secrets-bootstrap.template.env .secrets.bootstrap.env
#   # edit .secrets.bootstrap.env
#   bash scripts/deployment/bootstrap-secrets-from-template.sh .secrets.bootstrap.env
#
# IMPORTANT:
# - Do NOT commit your filled file.
# - Keep quotes around values that can contain special characters.

# ---- Core ----
PROJECT_PREFIX='hyrelog-prod'
PRIMARY_REGION='ap-southeast-2'

# Set to true only if you intentionally still use static S3 keys.
INCLUDE_STATIC_S3_KEYS='false'

# ---- RDS connection components (raw passwords are OK; script URL-encodes them) ----
DB_USER='hyrelog_admin'

DASHBOARD_DB_HOST='hyrelog-prod-dashboard.c9umosqssoce.ap-southeast-2.rds.amazonaws.com'
DASHBOARD_DB_PORT='5432'
DASHBOARD_DB_NAME='hyrelog_dashboard'
DASHBOARD_DB_PASSWORD='M0EwAgpN?4B)]!-IeHBZerN*q$2G'

US_DB_HOST='hyrelog-prod-api-us.cs7ic6mo2af4.us-east-1.rds.amazonaws.com'
US_DB_PORT='5432'
US_DB_NAME='hyrelog_us'
US_DB_PASSWORD='n<ct6L~1I.-LqhIX9biN:xV_kOWU'

EU_DB_HOST='hyrelog-prod-api-eu.cdgc22yu8v5w.eu-west-1.rds.amazonaws.com'
EU_DB_PORT='5432'
EU_DB_NAME='hyrelog_eu'
EU_DB_PASSWORD='X*kto*Rv2_i~A$kux3V0hMZ1c0Dv'

UK_DB_HOST='hyrelog-prod-api-uk.ctsyimasaugv.eu-west-2.rds.amazonaws.com'
UK_DB_PORT='5432'
UK_DB_NAME='hyrelog_uk'
UK_DB_PASSWORD='Xw9_(0p69]uaYj>g]F<r>d<uWyzI'

AU_DB_HOST='hyrelog-prod-api-au.c9umosqssoce.ap-southeast-2.rds.amazonaws.com'
AU_DB_PORT='5432'
AU_DB_NAME='hyrelog_au'
AU_DB_PASSWORD='_~GD_*x341>|saunp)e5Ao-tVOCi'

# ---- App secrets ----
# If blank and AUTO_GENERATE_IF_MISSING=true, script will generate these.
DASHBOARD_SERVICE_TOKEN=''
API_KEY_SECRET=''
HYRELOG_API_KEY_SECRET=''
INTERNAL_TOKEN=''
WEBHOOK_SECRET_ENCRYPTION_KEY=''

# Generate random secrets for blank values above
AUTO_GENERATE_IF_MISSING='true'

# ---- Optional static S3 keys (only if INCLUDE_STATIC_S3_KEYS=true) ----
S3_ACCESS_KEY_ID=''
S3_SECRET_ACCESS_KEY=''
